<header class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">MyCinemaApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/Movie">Films</a></li>
                <li class="nav-item"><a class="nav-link" href="/Screening">Séances</a></li>
                <li class="nav-item"><a class="nav-link" href="/TicketM">Tickets</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/About">À propos</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Logout"
                           onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                            Déconnexion
                        </a>
                        <form id="logoutForm" action="/Account/Logout" method="post" style="display:none;"></form>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text text-light ms-2">
                            Bonjour, @User.Identity.Name
                        </span>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="/Account/Login">Se connecter</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Account/Register">S'inscrire</a></li>
                }
            </ul>
        </div>
    </div>
</header>
