@{
    ViewData["Title"] = "À propos";
    Layout = "_Layout";
}

<div class="mt-5">
    <h2>À propos de MyCinemaApp</h2>
    <p>Application de réservation de tickets de cinéma en ligne développée avec ASP.NET Core MVC.</p>
</div>
