@{
    ViewData["Title"] = "Accueil";
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h1>Bienvenue sur MyCinemaApp</h1>
    <p>Achetez vos tickets de cinéma en ligne facilement !</p>
    <a href="/Movie" class="btn btn-primary">Voir les films</a>
</div>
